/.idea/
/values/avinash/
/values/from_naga/
/values/from_eldad/
/values/jfrog_saas/
/values/For_PROD_Setup/tmp/
/values/For_PROD_Setup/troubleshooting/
/values/For_Test_Setup_downsized/
/install_artifactory_and_xray.txt
/values/suggest_to_dynata/
/dtcc_from_paulpan
/install_jfrog_from_platform_chart/my_gcp_deployment
/install_jfrog_from_platform_chart/mysteps
/install_artifactory_from_artifactory_chart/mysteps
/install_distribution_from_distribution_chart/mysteps
/dtcc-art-values-from-rob
/jfrog_qa_custom_values/mysteps
/jfrog_qa_custom_values/oracle_driver