#You can create a secret using the below command and connect to the external DB configured for Xray
#kubectl create secret generic xray-database-creds \
#--from-literal=db-user=XRAY_DATABASE_USER \
#--from-literal=db-password=XRAY_DATABASE_PASSWORD \
#--from-literal=db-url=postgres://$DB_SERVER:5432/$XRAY_DB?sslmode=disable -n $MY_NAMESPACE

xray:
  enabled: true
  replicaCount: 1
  global:
    joinKeySecretName: joinkey-secret
    masterKeySecretName: xray-masterkey-secret
  database:
    type: postgresql
    driver: org.postgresql.Driver
    secrets:
      user:
        name: xray-database-creds
        key: db-user
      password:
        name: xray-database-creds
        key: db-password
      url:
        name: xray-database-creds
        key: db-url
  common:
    persistence:
      # 400Gi seems to be the minimum since JAS
      size: 100Gi
    extraEnvVars: |
      - name: "JF_SHARED_RABBITMQ_VHOST"
        value: "xray_haq"
  rabbitmq:
    enabled: true
    auth:
      username: admin
      password: "$MY_RABBITMQ_ADMIN_USER_PASSWORD"
      # As per https://github.com/jfrog/charts/issues/1961 Xray uses the existingPasswordSecret to connect to RabbitMQ but 
      # rabbitmq admin user password is set with xray.rabbitmq.auth.password
      # This is fixed in Xray(3.118): XRAY-109797
      existingPasswordSecret: rabbitmq-admin-creds
    