configVersion: 1
router:
  serviceRegistry:
    insecure: false
shared:
  logging:
    consoleLog:
      enabled: false
  jfrogUrl: "http://$MY_HELM_RELEASE-artifactory:8082"
  database:
    type: postgresql
    driver: org.postgresql.Driver
  rabbitMq:
    erlangCookie:
      value: "secretcookie"
    url: "amqp://$MY_HELM_RELEASE-rabbitmq:5672"
    username: "admin"
    password: "$MY_RABBITMQ_ADMIN_USER_PASSWORD"
contextualAnalysis:
  registry: releases-docker.jfrog.io
  image: jfrog/xray-jas-contextual-analysis
exposures:
  container:
    registry: releases-docker.jfrog.io
    image: jfrog/xray-jas-exposures